<div class="content">
  <%= simple_form_for job, url: path, method: method, class: 'form' do |f| %>
    <div class="card mx-3 p-3">
      <div class="card-body">
        <div>
          <h4>Job Detail</h4>
          <hr>
          <div class="row">
            <div class="col-sm-7 mb-3 form-group">
              <%= f.input :title, placeholder: 'Enter Job title', input_html: { class: 'form-control' } %>
            </div>

            <div class="col-sm-7 mb-3 form-group">
              <%= f.input :description, as: :rich_text_area, input_html: { class: 'overflow-auto rich-text-field'}, placeholder: 'Enter Job Description', id: 'job_description' %>
            </div>

            <div class="col-sm-7 mb-3 form-group" data-controller='select2'>
              <%= f.label :location %>
              <%= f.select :location, job_location_options(job.location), { include_blank: true, selected: job.location }, { class: 'form-control', data: { select2_target: 'jobLocation' } } %>
            </div>

            <div class="col-sm-7 mb-3 form-group">
              <%= f.input :job_type, as: :radio_buttons, collection: Job::TYPES, input_html: { class: 'form-check' } %>
            </div>

            <div class="col-sm-7 mb-3 form-group">
              <%= f.input :published, class: 'form-control' %>
            </div>

          </div>
          <div class="col-sm-7 mb-3 form-group text-right">
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
