<%= render 'layouts/content_header', content_header: 'Edit Profile', path: nil %>
<div class="content">
  <%= form_with model: @user, url: update_profile_user_path, method: :patch, class: 'form' do |f| %>
    <div class="card my-5 p-3">
      <div class="card-body">
        <h4>User Profile</h4>
        <hr>
        <div class="row">
          <div class="col-sm-7 mb-3 form-group">
            <%= f.label :name %><span class="text-danger">*</span>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'form-control', placeholder:'Enter Name' %>
            <span class="text-danger"><%= @user.errors.full_messages_for(:name).join(', ') if @user.present? %></span>
          </div>
          <div class="col-sm-7 mb-3 form-group">
            <%= f.label :email %><span class="text-danger">*</span>
            <%= f.email_field :email, autocomplete: "email", class:'form-control', placeholder:'Enter Email' %>
            <span class="text-danger"><%= @user.errors.full_messages_for(:email).join(', ') if @user.present? %></span>
          </div>
        </div>
        <%= f.submit 'Update', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
