<div class="login-wrapper">
  <div class="bg-white container rounded p-3 pb-5 shadow text-center w-25">
      <div class="py-3">LMS</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'mb-3 form-signin', id: 'login-form'}) do |f| %>
        <div class="my-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email address", required: true %>
        </div>
        <div class="mb-3">
          <div class="d-flex toggle-password" data-controller="password-toggle">
            <span class="w-100">
              <%= f.password_field :password, class: "form-control", placeholder: "Enter password", required: true, data: { password_toggle_target: 'password'} %>
            </span>
            <%= f.button(data: { action: 'click->password-toggle#toggle' }, class: 'btn', title: 'Show password') do %>
              <%= render 'layouts/shared/password_icons' %>
            <% end %>
          </div>
        </div>
        <div class="mb-3">
          <%= f.submit "Log in", class: 'btn btn-dark btn-block btn-lg' %>
        </div>
      <% end %>
      <%= link_to "Sign up", new_user_registration_path %><br />
  </div>
</div>
