<!DOCTYPE html>
<html>
  <head>
    <title>Lms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "jquery" %>
  </head>

  <body>
    <div id="flash" class="position-absolute" style="z-index: 1040;right: 10px; top: 10px;">
      <%= render 'layouts/notice' %>
    </div>

    <%= yield %>
  </body>
</html>
